<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.jejuplan.board.mapper.BoardMapper">
  
  	<select id="boardNo" resultType="int">
	SELECT GET_SEQ('board')
   	</select>
  
	<select id="boardCount" resultType="int">
	SELECT COUNT(*)
    FROM BOARD
   	</select>
 
 	<select id="boardListCount" resultType="int">
	SELECT COUNT(*)
	FROM TB_BOARD A, TB_MEMBER B
	WHERE A.REG_USER_ID = B.MEMBER_ID
	AND A.USE_YN = 'Y'
		<if test="menu_id != menu_id">
      	AND A.MENU_ID = #{menu_id}
    	</if>
    	<if test="reg_user_id != reg_user_id">
      	AND A.REG_USER_ID = #{reg_user_id}
    	</if>
    	<if test="reg_date != reg_date">
      	AND A.REG_DATE = #{reg_date}
    	</if>
	</select>
 
	<select id="boardList" resultType="com.jejuplan.board.domain.BoardVO">
		<include refid="CommonMapper.COMMON_PAGING_HEADER"/>
		SELECT A.BOARD_NO
	    , A.MENU_ID
	    , A.TITLE
	    , A.REG_USER_ID
	    , B.MEMBER_ID AS REG_USER_NM
	    , A.REG_DATE
	    , A.SORT_NO
	    FROM TB_BOARD A, TB_MEMBER B
	    WHERE A.REG_USER_ID = B.MEMBER_ID
	    AND A.USE_YN = 'Y'
	    <if test="menu_id != '' and menu_id != null" >
      		AND A.MENU_ID = #{menu_id}
      	</if>
      	<if test="title != '' and title != null">
      		AND A.TITLE = #{title}
    	</if>
      	<if test="user_id != '' and user_id != null">
      		AND A.REG_USER_ID = #{user_id}
    	</if>
    	<if test="reg_date_start != '' and reg_date_start != null">
      		AND DATE_FORMAT(A.REG_DATE, '%y/%m/%d ') BETWEEN #{reg_date_start} AND #{reg_date_end}
    	</if>
      	<include refid="CommonMapper.COMMON_PAGING_BOTTOM"/>
	 	ORDER BY R1.SORT_NO ASC, R1.REG_DATE DESC
		<include refid="CommonMapper.COMMON_PAGING_TAIL"/>
   </select>
 
   <select id="boardDetail" parameterType="int" resultType="com.jejuplan.board.domain.BoardVO">
   	SELECT A.*, B.MEMBER_NM AS REG_USER_NM
    FROM TB_BOARD A , TB_MEMBER B
    WHERE A.REG_USER_ID = B.MEMBER_ID 
    AND A.BOARD_NO = #{board_no}
   </select>
    
   <insert id="boardInsert" parameterType="com.jejuplan.board.domain.BoardVO">
   	INSERT INTO TB_BOARD
   	(BOARD_NO,MENU_ID,TITLE,CONTENT,REG_USER_ID,REG_DATE)
   	VALUES
   	(#{board_no}, #{menu_id} ,#{title},#{content},#{reg_user_id},now()) 
   </insert>
    
   <update id="boardUpdate" parameterType="com.jejuplan.board.domain.BoardVO">
	UPDATE TB_BOARD
	SET MOD_USER_ID = #{mod_user_id}
    , MOD_DATE = now()
    	<if test="title != null">
    	, TITLE = #{title}
      	</if>
      	<if test="content != null">
      	, CONTENT = #{content}
      	</if>
    WHERE BOARD_NO = #{board_no}
   </update>
    
   <update id="boardDelete" parameterType="com.jejuplan.board.domain.BoardVO">
   	UPDATE TB_BOARD 
    SET MOD_USER_ID = #{mod_user_id}
    , MOD_DATE = now()
    , USE_YN = 'N'
    WHERE BOARD_NO = #{board_no}
   </update>
    
</mapper>


