<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.jejuplan.board.mapper.BoardMapper">
 
	<select id="boardCount" resultType="int">
        SELECT COUNT(*)
        FROM BOARD
    </select>
    
    <select id="boardList" resultType="com.jejuplan.board.domain.BoardVO">
        SELECT *
        FROM BOARD
        ORDER BY REG_DATE DESC
    </select>
    
    <select id="boardDetail" parameterType="int" resultType="com.jejuplan.board.domain.BoardVO">
        SELECT *
        FROM BOARD
        WHERE BNO = #{bno}
    </select>
    
    <insert id="boardInsert" useGeneratedKeys="true" keyProperty="bno" parameterType="com.jejuplan.board.domain.BoardVO">
        INSERT INTO BOARD
        (BNO,MENUID,SUBJECT,CONTENT,WRITER,REG_DATE)
        VALUES
        (#{bno},#{menuid} ,#{subject},#{content},#{writer},now()) 
    </insert>
    
    <update id="boardUpdate" parameterType="com.jejuplan.board.domain.BoardVO">
        UPDATE BOARD
        SET
        <if test="subject != null">
       	SUBJECT = #{subject}
        </if>
        <if test="subject != null and content != null"> , </if>
        <if test="content != null">
        CONTENT = #{content}
        </if>
        WHERE BNO = #{bno}
    </update>
    
    <delete id="boardDelete" parameterType="int">
        DELETE FROM BOARD 
        WHERE BNO = #{bno}
    </delete>
    
    <insert id="fileInsert" parameterType="com.jejuplan.board.domain.FileVO">
       	INSERT INTO FILES 
       	(FNO, BNO, FILENAME, FILEORINAME, FILEURL)
       	VALUES
       	(#{fno},#{bno},#{fileName},#{fileOriName},#{fileUrl})
	</insert>
	
	<select id="fileDetail" parameterType="int" resultType="com.jejuplan.board.domain.FileVO">
    	SELECT *
    	FROM Files
    	WHERE BNO = #{bno}
	</select>

</mapper>


