<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.jejuplan.main.mapper.MainMapper">
	<select id="mainMenuList" resultType="com.jejuplan.main.domain.MenuVO">
    SELECT MENU_ID, MENU_NM, MENU_URL, MENU_LV, PARENT_MENU_ID,TREE_MENU
    		  ,(SELECT COUNT(B.MENU_LV) FROM TB_MENU B WHERE A.MENU_ID = B.PARENT_MENU_ID AND B.USE_YN ='Y') AS LV_CNT
	 	FROM TB_MENU A
	 	WHERE USE_YN = 'Y'
	 	AND MENU_LV = '1'
	 	ORDER BY TREE_ORDER ASC
   </select>
   
   <select id="subMenuList" resultType="com.jejuplan.main.domain.MenuVO">
    SELECT MENU_ID, MENU_NM, MENU_URL, MENU_LV, PARENT_MENU_ID,TREE_MENU
	 	FROM TB_MENU
	 	WHERE USE_YN = 'Y'
	 	AND MENU_LV = '2'
	 	ORDER BY TREE_ORDER ASC
   </select>
    
   <select id="firstMenuDetail" resultType="com.jejuplan.main.domain.MenuVO">
   	SELECT *
	  	FROM TB_MENU
		WHERE USE_YN = 'Y'
		AND MENU_LV = '2'
		ORDER BY TREE_ORDER ASC
		LIMIT 1
   </select>
    
</mapper>


