<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.jejuplan.member.mapper.LoginMapper">
 
	<select id="memberCheck" resultType="int" parameterType="com.jejuplan.member.domain.MemberVO">
        SELECT COUNT(*)
         FROM TB_MEMBER
        WHERE MEMBER_ID = #{member_id}
    </select>
    
    <insert id="memberInsert" parameterType="com.jejuplan.member.domain.MemberVO">
        INSERT INTO TB_MEMBER
        (MEMBER_ID,MEMBER_PW,MEMBER_AUTH,REG_DATE)
        VALUES
        (#{member_id},#{member_pw},#{member_auth},now()) 
    </insert>
    
    <select id="memberDetail" resultType="com.jejuplan.member.domain.MemberVO">
        SELECT MEMBER_ID
        , MEMBER_PW
        , MEMBER_AUTH
        , (SELECT CODE_NM FROM TB_CODE_LV2 WHERE CODE_VAL = #{member_auth} AND UP_CODE_ID ='p_auth' AND USE_YN='Y') AS MEMBER_AUTH_NM 
        , REG_DATE
        , USE_YN
        FROM TB_MEMBER
 		  WHERE MEMBER_ID = #{member_id}
 		  AND MEMBER_AUTH = #{member_auth}
 		  AND USE_YN ='Y'
    </select>

</mapper>


